<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a [routerLink]="['/']" aria-current="page" class="nav-link active">Home</a></li>
                <li class="nav-item"><a [routerLink]="['/addresses']" aria-current="page" class="nav-link active">Addresses</a>
                </li>
                <li class="nav-item"><a [routerLink]="['/products/add']" aria-current="page" class="nav-link active">Add
                    Product</a></li>
            </ul>
            <form *ngIf="(cart$ | async) as cart" class="d-flex">
                <a [routerLink]="['cart']" class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span
                            class="badge bg-dark text-white ms-1 rounded-pill">{{ cart.totalItems}}</span>
                </a>
            </form>
        </div>
    </div>
</nav>
