<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div *ngIf="products$ | async as products"
             class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div *rxFor="let product of products" class="col mb-5">
                <a [routerLink]="['product',  product.id]" class="text-decoration-none text-dark">
                    <app-product-card [product]="product"></app-product-card>
                </a>
            </div>
        </div>
        <div *ngIf="isLoading$ | async">
            loading...
        </div>
    </div>
</section>
