<section class="bg-dark py-3">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Addresses</h1>
        </div>
    </div>
</section>
<div *ngIf="addresses$ | async as addresses" class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-5">
                        <h2>Addresses <b>Management</b></h2>
                    </div>
                    <div class="col-sm-7 ">
                        <a [routerLink]="'/addresses/new'" class="btn btn-secondary"><i
                                class="material-icons">&#xE147;</i> <span>Add New </span></a>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Street</th>
                    <th>Country</th>
                    <th>State</th>
                    <th>Zip</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *rxFor="let address of addresses">
                    <td>{{ address.id }}</td>
                    <td>{{ address.address }}</td>
                    <td>{{ address.country }}</td>
                    <td>{{ address.state }}</td>
                    <td>{{ address.zip }}</td>
                    <td class="cursor-pointer">
                        <a [routerLink]="['/addresses', address.id, 'edit']" class="settings cursor-pointer"
                           data-toggle="tooltip" title="Edit"><i class="material-icons">edit</i></a>
                        <a (click)="deleteAddress(address.id)" class="delete cursor-pointer" data-toggle="tooltip"
                           title="Delete"><i class="material-icons">&#xE5C9;</i></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="clearfix">
                <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item active text-white"><a class="page-link text-white" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isLoading$ | async" class="container-xl">loading...</div>