<form [formGroup]="addProductForm" (ngSubmit)="addProductForm.valid && save()" class="row mx-auto my-5 col-7 needs-validation d-flex g-3  p-5 border rounded-5 border-dark bg-secondary-subtle">
    <div class="col-md-6">
        <label for="Name" class="form-label">Name</label>
        <input type="text" (input)="updateForm()" [ngClass]="{'is-invalid': addProductForm.get('name').invalid && addProductForm.get('name').touched }" class="form-control" id="Name" [formControlName]="'name'">
    </div>
    <div class="col-md-6">
        <label for="Price" class="form-label">Price</label>
        <div class="input-group">
            <span class="input-group-text">$</span>
            <input type="number" (input)="updateForm()" [ngClass]="{'is-invalid': addProductForm.get('price').invalid && addProductForm.get('price').touched }" class="form-control" id="Price" [formControlName]="'price'">
        </div>
    </div>
    <div class="col-12">
        <label for="Description" class="form-label">Description</label>
        <textarea class="form-control" (input)="updateForm()" [ngClass]="{'is-invalid': addProductForm.get('description').invalid && addProductForm.get('description').touched }" rows="3" id="Description" [formControlName]="'description'"></textarea>
    </div>
    <div class="col-12">
        <label for="Image" class="form-label">Image</label>
        <input type="url" (input)="updateForm()" [ngClass]="{'is-invalid': addProductForm.get('image').invalid }" class="form-control" id="Image" [formControlName]="'image'">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-dark form-control mt-2 p-2">Save product</button>
    </div>

</form>
